@use "partials/mixins";
@use "partials/navbar" as *; //Imported all Nav-bar section
@use "sass:map";
@use "partials/_colors";
@use "partials/footer" as *; // Imported all footer section

//main section
.main-section {
  display: flex;
  flex-direction: column;
}
//Hero section
.hero-section {
  background: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  min-height: 200px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: map.get(colors.$primary-colors, "bandsite-black");
    opacity: 50%;
  }
  &__heading {
    text-align: center;
    color: map.get(colors.$primary-colors, "white");
    position: absolute;
    top: 40%;
    @include mixins.mobile {
      left: 1rem;
    }
    @include mixins.tablet {
      left: 2rem;
    }
    @include mixins.desktop {
      left: 10rem;
    }
  }
  @include mixins.mobile {
    height: 30vh;
    padding: 1.5rem 0;
  }
  @include mixins.tablet {
    height: 60vh;
  }
  @include mixins.desktop {
    height: 80vh;
  }
}
// About section
.about-section {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  &__container {
    display: flex;
    flex-direction: column;
    @include mixins.mobile {
      row-gap: 1.5rem;
    }
    @include mixins.tablet {
      margin: 0 3rem;
      row-gap: 2rem;
    }
    @include mixins.desktop {
      margin: 0 3rem;
      row-gap: 2rem;
    }
  }
  &__panel {
    display: flex;
    flex-direction: column;
    @include mixins.mobile {
      row-gap: 1rem;
    }
    @include mixins.tablet {
      row-gap: 1.5rem;
    }
  }
  &__caption {
    @include mixins.mobile {
      &--dark {
        font-size: 0.875rem;
        font-weight: 600;
      }
    }
    @include mixins.tablet {
      margin-top: 1rem;

      @include mixins.desktop {
        width: 80%;
      }
    }
  }
  &__info {
    display: flex;
    @include mixins.mobile {
      flex-direction: column;
      row-gap: 1rem;
    }
    @include mixins.tablet {
      flex-direction: row;
      column-gap: 2.5rem;
    }
    @include mixins.desktop {
      flex-direction: row;
      column-gap: 2.5rem;
    }
  }
  &__image {
    width: 100%;
  }
  @include mixins.mobile {
    row-gap: 1rem;
    padding: 1.5rem 0;
  }
  @include mixins.tablet {
    margin: 3rem 2rem 2rem;
    row-gap: 1.5rem;
  }
  @include mixins.desktop {
    margin: 3rem 10rem 2rem;
  }
}
// Gallery section
.gallery-section {
  background: map.get(colors.$secondary-colors, "mercury");
  display: flex;
  flex-direction: column;
  &__panel {
    display: flex;
    @include mixins.mobile {
      flex-direction: column;
      row-gap: 1rem;
    }
    @include mixins.tablet {
      flex-flow: row wrap;
      justify-content: space-between;
      gap: 1.5rem 1rem;
    }
    @include mixins.desktop {
      flex-flow: row wrap;
      justify-content: space-between;
      gap: 1.5rem 1rem;
    }
  }
  &__image {
    @include mixins.mobile {
      width: 100%;
    }
    @include mixins.tablet {
      width: 31%;
    }
    @include mixins.desktop {
      width: 31%;
    }
  }
  @include mixins.mobile {
    row-gap: 1rem;
    padding: 1.5rem 1rem;
  }
  @include mixins.tablet {
    padding: 3rem 2rem 2rem;
    row-gap: 1.5rem;
  }
  @include mixins.desktop {
    padding: 3rem 10rem 2rem;
  }
}
//Comment Section
.comment-section {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  &__panel {
    @include mixins.tablet {
      margin: 0 3rem;
      row-gap: 2rem;
    }
    @include mixins.desktop {
      margin: 0 3rem;
      row-gap: 2rem;
    }
  }
  &__container {
    display: flex;
    column-gap: 1rem;
    padding: 1.5rem 0;
  }
  &__avatar {
    background-color: map.get(colors.$secondary-colors, "mercury");
    width: 2.25rem;
    height: 2.25rem;
    max-height: 2.25rem;
    border-radius: 50%;
    margin-top: 1.15rem;
    background-size: cover;
    background-position: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  &__input {
    height: 2.25rem;
    @include mixins.tablet {
      height: 3rem;
    }
    @include mixins.desktop {
      height: 3rem;
    }
  }
  &__textarea {
    height: 4.5rem;
    resize: none;
    @include mixins.tablet {
      height: 6rem;
    }
    @include mixins.desktop {
      height: 6rem;
    }
  }
  &__list {
    display: flex;
    flex-direction: column-reverse;
  }
  &__item {
    display: flex;
    column-gap: 1rem;
    padding: 1rem 0;
    border-top: 1px solid map.get(colors.$secondary-colors, "mercury");
    &:first-child {
      border-bottom: 1px solid map.get(colors.$secondary-colors, "mercury");
    }
  }
  &__image {
    background-color: map.get(colors.$secondary-colors, "mercury");
    width: 2.25rem;
    height: 2.25rem;
    max-height: 2.25rem;
    border-radius: 50%;
  }
  &__detail {
    display: flex;
    justify-content: space-between;
  }
  &__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 0.25rem;
  }
  &__name {
    font-weight: 600;
  }
  &__date {
    color: map.get(colors.$primary-colors, "silver");
  }
  @include mixins.tablet {
    padding: 3rem 2rem 2rem;
  }
  @include mixins.desktop {
    padding: 3rem 10rem 2rem;
  }
}
