@use "partials/mixins";
@use "partials/_variables.scss";

.nav-bar {
  background-color: #323232;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0 0;

  &__logo {
    width: 120px;
    height: 20px;
  }
  &__header {
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    &__list {
      display: flex;
      padding-left: 0;
      margin: 0;
      @include mixins.tablet {
        column-gap: 4rem;
      }
    }

    &__item {
      text-align: center;
      margin-left: 0px;
      margin-right: 0px;
      font-size: 2rem;
      &--current {
        border-bottom: 3px solid white;
      }
      @include mixins.mobile {
        width: 50%;
      }
      @include mixins.tablet {
        padding: 0.75rem 0;
        width: fit-content;
      }
    }
  }

  @include mixins.tablet {
    flex-direction: row;
    align-items: center;
    padding: 0px 2rem;
    column-gap: 5rem;
  }
  @include mixins.desktop {
    padding: 0px 10rem;
  }
}
.main-section {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  @include mixins.tablet {
    row-gap: 0;
  }
}

.hero-section {
  background: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  height: 30vh;
  min-height: 200px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__heading {
    text-align: center;
    left: 1rem;
    color: white;
    position: absolute;
    top: 40%;
    @include mixins.tablet {
      left: 2rem;
    }
    @include mixins.desktop {
      left: 10rem;
    }
  }
  @include mixins.tablet {
    height: 60vh;
  }
  @include mixins.desktop {
    height: 80vh;
  }
}
.about-section {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    @include mixins.tablet {
      margin: 0 3rem;
      row-gap: 2rem;
    }
  }
  &__panel {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    &__info {
      @include mixins.tablet {
        margin-top: 1rem;
        &--dark {
          font-weight: 600;
        }
        @include mixins.desktop {
          width: 80%;
        }
      }
    }
    &__container {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      @include mixins.tablet {
        flex-direction: row;
        column-gap: 2.5rem;
      }
    }
    @include mixins.tablet {
      row-gap: 1.5rem;
    }
  }

  &__image {
    width: 100%;
  }
  @include mixins.tablet {
    margin: 3rem 2rem 2rem;
    row-gap: 1.5rem;
  }
  @include mixins.desktop {
    margin: 3rem 10rem 2rem;
  }
}
.gallery-section {
  background: #e1e1e1;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &__panel {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    @include mixins.tablet {
      flex-flow: row wrap;
      justify-content: space-between;
      gap: 1.5rem 1rem;
    }
  }
  &__image {
    width: 100%;
    @include mixins.tablet {
      width: 31%;
    }
  }
  @include mixins.tablet {
    padding: 3rem 2rem 2rem;
    row-gap: 1.5rem;
  }
  @include mixins.desktop {
    padding: 3rem 10rem 2rem;
  }
}
.footer-section {
  background-color: #323232;
  color: white;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    @include mixins.tablet {
      flex-direction: row;
      column-gap: 6%;
    }
  }
  &__social {
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    @include mixins.tablet {
      align-self: center;
      margin-top: 10px;
      column-gap: 1.5rem;
    }
  }
  &__icon {
    @include mixins.tablet {
      width: 20px;
      height: 20px;
    }
  }
  &__group {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  &__image {
    margin-top: 3rem;
    width: 120px;
    height: 20px;
    @include mixins.tablet {
      width: 7.5rem;
      order: -1;
      margin-left: auto;
    }
  }
  @include mixins.tablet {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    row-gap: 2rem;
    padding: 1rem 2rem 2rem;
    &__connect {
      order: -1;
      width: 50%;
      min-width: 550px;
      justify-content: left;
    }
    &__panel {
      width: 100%;
    }
    &__copyright {
      margin-top: 1rem;
    }
  }
  @include mixins.desktop {
    padding: 1rem 10rem 2rem;
  }
}
