@use "partials/mixins";
@use "partials/navbar" as *; //Imported all Nav-bar section
@use "sass:map";
@use "partials/_colors";
@use "partials/footer" as *; // Imported all footer section

//main section
.main-section {
  display: flex;
  flex-direction: column;
  @include mixins.mobile {
    row-gap: 1.5rem;
  }
  @include mixins.tablet {
    row-gap: 0;
  }
}
//Hero section
.hero-section {
  background: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  min-height: 200px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: map.get(colors.$primary-colors, "bandsite-black");
    opacity: 50%;
  }
  &__heading {
    text-align: center;
    color: map.get(colors.$primary-colors, "white");
    position: absolute;
    top: 40%;
    @include mixins.mobile {
      left: 1rem;
    }
    @include mixins.tablet {
      left: 2rem;
    }
    @include mixins.desktop {
      left: 10rem;
    }
  }
  @include mixins.mobile {
    height: 30vh;
  }
  @include mixins.tablet {
    height: 60vh;
  }
  @include mixins.desktop {
    height: 80vh;
  }
}
// About section
.about-section {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  &__container {
    display: flex;
    flex-direction: column;
    @include mixins.mobile {
      row-gap: 1.5rem;
    }
    @include mixins.tablet {
      margin: 0 3rem;
      row-gap: 2rem;
    }
    @include mixins.desktop {
      margin: 0 3rem;
      row-gap: 2rem;
    }
  }
  &__panel {
    display: flex;
    flex-direction: column;
    @include mixins.mobile {
      row-gap: 1rem;
    }
    @include mixins.tablet {
      row-gap: 1.5rem;
    }
  }
  &__caption {
    @include mixins.mobile {
      &--dark {
        font-size: 0.875rem;
        font-weight: 600;
      }
    }
    @include mixins.tablet {
      margin-top: 1rem;

      @include mixins.desktop {
        width: 80%;
      }
    }
  }
  &__info {
    display: flex;
    @include mixins.mobile {
      flex-direction: column;
      row-gap: 1rem;
    }
    @include mixins.tablet {
      flex-direction: row;
      column-gap: 2.5rem;
    }
    @include mixins.desktop {
      flex-direction: row;
      column-gap: 2.5rem;
    }
  }
  &__image {
    width: 100%;
  }
  @include mixins.mobile {
    row-gap: 1rem;
  }
  @include mixins.tablet {
    margin: 3rem 2rem 2rem;
    row-gap: 1.5rem;
  }
  @include mixins.desktop {
    margin: 3rem 10rem 2rem;
  }
}
// Gallery section
.gallery-section {
  background: map.get(colors.$secondary-colors, "mercury");
  display: flex;
  flex-direction: column;
  &__panel {
    display: flex;
    @include mixins.mobile {
      flex-direction: column;
      row-gap: 1rem;
    }
    @include mixins.tablet {
      flex-flow: row wrap;
      justify-content: space-between;
      gap: 1.5rem 1rem;
    }
    @include mixins.desktop {
      flex-flow: row wrap;
      justify-content: space-between;
      gap: 1.5rem 1rem;
    }
  }
  &__image {
    @include mixins.mobile {
      width: 100%;
    }
    @include mixins.tablet {
      width: 31%;
    }
    @include mixins.desktop {
      width: 31%;
    }
  }
  @include mixins.mobile {
    row-gap: 1rem;
    padding: 1.5rem 1rem;
  }
  @include mixins.tablet {
    padding: 3rem 2rem 2rem;
    row-gap: 1.5rem;
  }
  @include mixins.desktop {
    padding: 3rem 10rem 2rem;
  }
}
//Comment Section
.comment-section {
  &__list {
    display: flex;
    flex-direction: column-reverse;
  }
}
