@use "partials/mixins";
@use "partials/navbar" as *; //Imported all Nav-bar section
@use "sass:map";
@use "partials/_colors";
@use "partials/footer" as *; // Imported all footer section
//main section
.main-section {
  display: flex;
  flex-direction: column;
}

//Hero section
.hero-section {
  background: url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: map.get(colors.$primary-colors, "bandsite-black");
    opacity: 50%;
  }
  &__panel {
    position: absolute;
    z-index: 1;
    height: 50vh;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    row-gap: 1rem;
  }
  &__iframe {
    height: 120px;
    width: 100%;
  }
  &__title {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  &__subtitle {
    color: map.get(colors.$primary-colors, "white");
  }
  &__heading {
    color: map.get(colors.$primary-colors, "white");
  }
  @include mixins.mobile {
    height: 50vh;
  }
  @include mixins.tablet {
    height: 60vh;
  }
  @include mixins.desktop {
    height: 80vh;
  }
}

.show-section {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  &__title {
    margin: 0 1rem;
  }
  &__card {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 1rem 0;
    border-bottom: 1px solid map.get(colors.$secondary-colors, "mercury");
  }
  &__detail {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    margin: 0 1rem;
  }
  &__heading {
    color: map.get(colors.$primary-colors, "silver");
    text-transform: uppercase;
    font-size: 0.625rem;
  }
  &__info {
    font-weight: 600;
  }
  &__btn {
    margin: 1rem 1rem 0;
  }
}
